:root{
	--palette0: #ddd;
}
*{
	box-sizing: border-box;
	margin: 0; padding: 0;
	outline: none;
	border: none;
}
[type="button"]
{cursor: pointer;}

body{
	background-color: var(--palette0);
	display: grid;
}

figure{
	position: absolute;
	width: 100vw; height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: hidden;
	display: flex; 
	align-items: center;
	justify-content: center;
}
figure>*{
	width: 40em; max-width: 95vw;
	border-radius: 0.4em;
	border: 1px solid #ffffff2e;
	box-shadow: 0 8px 32px 0 #0000005e;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 0;
}
figure>*>*{width: 100%;}
figure>*>h1{text-align: center;}

p[title]{
	background-color: var(--palette3);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.308);
	height: 0.12em;
}
p[title]::after{
	content: attr(title);
	color: rgba(255, 255, 255, 0.308);
	position:relative;
	bottom: 0.5em;
}

.iconed_btn{
	height: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
}
.iconed_btn>img{height: 100%;}

.frosted{
	background: linear-gradient(135, #ffffff1a, #fff0);
	-webkit-backdrop-filter: blur(10px);
}

.signin_btn{
	max-width: 95%; width: 25em;
	border-radius: 100em;
}